# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Api CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm install
      - run: touch config.js
      - run: echo "exports.DB = 'Eterelz'
                   exports.DB_USER = 'RubyCouz'
                   exports.DB_PASSWORD = 'RubyCouz2805'
                   exports.DB_SPACE = 'eterelz'
                   exports.EMAIL = 'admin@rubycouz.xyz'
                   exports.PASSWORD = '#Couz2805'
                   exports.HOST = 'https:rubycouz.cc'" > src/config.js
      - run: cp -r /root/actions-runner/api/api_etrelez/api_etrelez/* /var/www/rubycouz.cc/api
#      - run: mv /var/www/rubycouz.cc/api_etrelez /var/www/rubycouz.cc/api
#      - run: cp -r /root/actions-runner/api/api /var/www/rubycouz.cc
